body {
  font-family: lobster, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  width: 100%;
  height: 60px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}
.logo-link {
  text-decoration: none;
}
.nav-items {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: sans-serif;
  align-items: center;
}
.link {
  text-decoration: none;
  padding: 10px;
}
.list-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 10px;
  margin-top: 40px;
}

.main-menubar {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: sans-serif;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 7px;
}
.menubar {
  height: 40px;
  cursor: pointer;
}
.nav-items :hover {
  background-color: lightgreen;
  cursor: pointer;
  height: auto;
}

.skills-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightblue;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid green;
  border-radius: 12px;
}
.skill-column {
  display: flex;
  flex-direction: row;
  column-gap: 17px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightgrey;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  padding: 10px;
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 10px;
}
.hero-left {
  border-radius: 50%;
}
.hero-image {
  border: none;

  border-radius: 12px;
  border-radius: 50%;
}
.hero-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}
.hero-p {
  font-family: sans-serif;
  font-weight: gary-400;
  font-size: 1.75rem;
  text-align: center;
}

.footer {
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  margin-top: 300px;
  margin-bottom: 10px;
}

@media (max-width: 640px) {
  .link {
    visibility: hidden;
  }
}

@media (min-width: 640px) {
  .menubar {
    visibility: hidden;
  }
}

@media (max-width: 640) {
  .menubar {
    visibility: visible;
    height: 30px;
    width: 30px;
    align-items: ce;
    float: center;
  }
}

@media (max-width: 640px) {
  .skill-column {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
}
.image {
  display: block;
  float: right;
}
.about-btn {
  background-color: blue;
  border: 1px solid green;
  border-radius: 12px;
  height: 20px;
  width: auto;
  padding: ;
  margin: 4px;
  color: white;
  animation-direction: alternate-reverse;
}
