body {
  font-family: lobster, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  width: 100%;
  height: 60px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.logo-link {
  text-decoration: none;
}
.nav-items {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: sans-serif;
  align-items: center;
 
}
.link {
  text-decoration: none;
  padding: 10px;
}
.nav-items :hover{
  background-color: lightgreen;
  cursor: pointer;
  height: auto;
}

.skills {
  display: flex;
  flex-direction: column;
}
